<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Hotel Dashboard Template</title>
	<link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="~/assets/plugins/datatables/datatables.min.css">
	<link rel="stylesheet" href="~/assets/css/feathericon.min.css">
	<link rel="stylesheet" href="~/assets/plugins/morris/morris.css">
	<link rel="stylesheet" href="~/assets/css/style.css">
</head>

<body>
	<div class="main-wrapper">
		<!-- Start Content -->
		<div class="page-wrapper">
			<div class="content container-fluid">
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<div class="mt-5">
								<h4 class="card-title float-left mt-2">Food and Beverage</h4>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<!-- Datatable Column - 60% -->
					<div class="col-lg-8">
						<div class="card card-table">
							<div class="card-header">
								<h4 class="card-title"><b>Food and Beverage List</b></h4>
							</div>
							<div class="card-body booking_card">
								@* Card được thêm vào đây  *@
								<div class="row row-cols-1 row-cols-md-3 g-4">
									<div class="col">
										<div class="card h-100">
											<img src="https://via.placeholder.com/150" class="card-img-top" alt="Pama Paw Salad">
											<div class="card-body">
												<h5 class="card-title">Pama Paw Salad</h5>
												<p class="card-text">$52.45</p>
												<button class="btn btn-primary">Add to Order</button>
											</div>
										</div>
									</div>

									<div class="col">
										<div class="card h-100">
											<img src="https://via.placeholder.com/150" class="card-img-top" alt="Pama Paw Salad">
											<div class="card-body">
												<h5 class="card-title">Pama Paw Salad</h5>
												<p class="card-text">$52.45</p>
												<button class="btn btn-primary">Add to Order</button>
											</div>
										</div>
									</div>

									<div class="col">
										<div class="card h-100">
											<img src="https://via.placeholder.com/150" class="card-img-top" alt="Pama Paw Salad">
											<div class="card-body">
												<h5 class="card-title">Pama Paw Salad</h5>
												<p class="card-text">$52.45</p>
												<button class="btn btn-primary">Add to Order</button>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

					<!-- Order Form Column - 40% -->
					<div class="col-lg-4">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title"><b>Order</b></h4>
							</div>
							<div class="card-body">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>