<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Hotel Dashboard Template</title>
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="~/assets/plugins/datatables/datatables.min.css">
	<link rel="stylesheet" href="~/assets/css/feathericon.min.css">
	<link rel="stylesheet" href="~/assets/plugins/morris/morris.css">
	<link rel="stylesheet" href="~/assets/css/style.css">
</head>

<body>
	<div class="main-wrapper">
		<div class="page-wrapper">
			<div class="content container-fluid">
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h3 class="page-title mt-5">Rooms</h3>
							@* <a href="/Rooms/Create" class="btn btn-primary float-right viewbutton ">Add Room</a> *@
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="card card-table">
							<div class="card-body booking_card">
								<div class="table-responsive">
									<table class="datatable table table-stripped table-hover table-center mb-0">
										<thead>
											<tr>
												<th style="width: 25%;">Room ID/#.</th>
												<th style="width: 25%; text-align: center;">Room Type</th>
												<th style="width: 25%; text-align: center;">Unit Price</th>
												<th style="width: 25%; text-align: center;">Status</th>											
											</tr>
										</thead>
										<tbody>
											<tr>
												<td style="text-align: center;">1</td>
												<td style="text-align: center;">Single</td>
												<td style="text-align: center;">250,000</td>
												<td style="text-align: center;">
													<div class="dropdown">
														<a href="#" class="btn btn-sm bg-success-light mr-2 dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Available</a>
														<div class="dropdown-menu">
															<a class="dropdown-item" href="javascript:void(0);" data-status="Available" onclick="changeRoomStatus(this)">Available</a>
															<a class="dropdown-item" href="javascript:void(0);" data-status="Occupied" onclick="changeRoomStatus(this)">Occupied</a>
															<a class="dropdown-item" href="javascript:void(0);" data-status="Under Maintainance/Cleaning" onclick="changeRoomStatus(this)">Under Maintainance/Cleaning</a>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td style="text-align: center;">2</td>
												<td style="text-align: center;">Double</td>
												<td style="text-align: center;">500,000</td>
												<td style="text-align: center;">
													<div class="dropdown">
														<a href="#" class="btn btn-sm bg-danger-light mr-2 dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Occupied</a>
														<div class="dropdown-menu">
															<a class="dropdown-item" href="javascript:void(0);" data-status="Available" onclick="changeRoomStatus(this)">Available</a>
															<a class="dropdown-item" href="javascript:void(0);" data-status="Occupied" onclick="changeRoomStatus(this)">Occupied</a>
															<a class="dropdown-item" href="javascript:void(0);" data-status="Under Maintainance/Cleaning" onclick="changeRoomStatus(this)">Under Maintainance/Cleaning</a>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td style="text-align: center;">3</td>
												<td style="text-align: center;">King/Queen</td>
												<td style="text-align: center;">750,000</td>
												<td style="text-align: center;">
													<div class="dropdown">
														<a href="#" class="btn btn-sm bg-warning-light mr-2 dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Under Maintainance/Cleaning</a>
														<div class="dropdown-menu">
															<a class="dropdown-item" href="javascript:void(0);" data-status="Available" onclick="changeRoomStatus(this)">Available</a>
															<a class="dropdown-item" href="javascript:void(0);" data-status="Occupied" onclick="changeRoomStatus(this)">Occupied</a>
															<a class="dropdown-item" href="javascript:void(0);" data-status="Under Maintainance/Cleaning" onclick="changeRoomStatus(this)">Under Maintainance/Cleaning</a>
														</div>
													</div>
												</td>
											</tr>										
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="~/assets/js/jquery-3.5.1.min.js"></script>
	<script src="~/assets/js/popper.min.js"></script>
	<script src="~/assets/js/bootstrap.min.js"></script>
	<script src="~/assets/plugins/datatables/datatables.min.js"></script>
	<script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="~/assets/plugins/raphael/raphael.min.js"></script>
	<script src="~/assets/plugins/morris/morris.min.js"></script>
	<script src="~/assets/js/chart.morris.js"></script>
	<script src="~/assets/js/script.js"></script>
</body>
</html>