@model List<Data.WeatherForecast>

<h1>Danh sách sản phẩm</h1>

<table class="table">
    <thead>
        <tr>
            <th>Sumary</th>
            <th>Thương hiệu</th>
            <th>Giá</th>
            <th>Số lượng tồn</th>
            <th>Mô tả</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var weatherForecast in Model)
        {
            <tr>
                <td>@weatherForecast.Summary</td>
            </tr>
        }
    </tbody>
</table>
