<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Hotel Dashboard Template</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/css/feathericon.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/plugins/morris/morris.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>

<body>
    <div class="main-wrapper">
        <div class="page-wrapper">
            <div class="content mt-5">
                <div class="row mt-5">
                    <div class="col-sm-12">
                        <h4 class="page-title">Edit Invoice</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form id="invoiceForm">
                            <div class="row mt-5">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Invoice ID</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-id-badge"></i></span>
                                            </div>
                                            <input class="form-control no-spinner" readonly="" type="number" inputmode="numeric" value="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Date</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                            </div>
                                            <input type="date" class="form-control" id="invoiceDate" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-info-circle"></i></span>
                                            </div>
                                            <select class="form-control" required>
                                                <option value="Pending" selected>Pending</option>
                                                <option value="Paid">Paid</option>
                                                <option value="Cancelled">Cancelled</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-white" id="invoiceTable">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="width: 10%">#</th>
                                                    <th class="text-center" style="width: 16%"> Booking ID</th>
                                                    <th class="text-center" style="width: 16%"> Hourly Rate</th>
                                                    <th class="text-center" style="width: 16%"> Duration</th>
                                                    <th class="text-center" style="width: 16%"> Services Fee</th>
                                                    <th class="text-center" style="width: 16%"> Amount</th>
                                                    <th class="text-center" style="width: 10%"> Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">1</td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="fas fa-id-badge"></i></span>
                                                                </div>
                                                                <select class="form-control room-id" required>
                                                                    <option value="" disabled selected>Select</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="fas fa-money-bill-wave"></i></span>
                                                                </div>
                                                                <input class="form-control unit-cost" type="number" inputmode="numeric" readonly="" placeholder="" value="1" required>
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">VND</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="fas fa-clock"></i></span>
                                                                </div>
                                                                <input class="form-control quantity" type="number" inputmode="numeric" placeholder="Enter Duration" required>
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">H</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="fas fa-utensils"></i></span>
                                                                </div>
                                                                <input class="form-control services-fee" readonly="" type="number" inputmode="numeric" value="1" placeholder="" required>
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">VND</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                                                </div>
                                                                <input class="form-control amount" readonly="" type="number" inputmode="numeric" placeholder="" required>
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">VND</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <a href="javascript:void(0)" class="text-success font-18 add-row" title="Add"><i class="fas fa-plus"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover table-white">
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td class="text-right"> Total: </td>
                                                    <td id="totalAmount" style="text-align: right; padding-right: 30px;width: 230px">0.00 VND</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="5" class="text-right"> Discount: </td>
                                                    <td style="text-align: right; padding-right: 30px;width: 230px">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="fas fa-percentage"></i></span>
                                                                </div>
                                                                <input id="discount" class="form-control no-spinner text-right" type="number" inputmode="numeric" placeholder="0">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="5" style="text-align: right; font-weight: bold"> Grand Total: </td>
                                                    <td id="grandTotal" style="text-align: right; padding-right: 30px; font-weight: bold; font-size: 16px;width: 230px"> 0.00 VND</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-left">
                    <button type="submit" class="btn btn-primary btn-success" onclick="validateInvoiceForm(event)">
                        <i class="fas fa-save"></i> Save
                    </button>
                    <button type="button" class="btn btn-primary btn-danger" onclick="window.location.href='@Url.Action("Index")'">
                        <i class="fas fa-times"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/js/jquery-3.5.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/plugins/datatables/datatables.min.js"></script>
    <script src="~/assets/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
</body>
</html>